<!doctype html>
<html>
<head>
	<title>Kaboobly Doo Generator</title>
	<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
</head>
<body>
	<center><img src="/static/images/cover.png"></center>
	<form action="/kabooblydoo" method="POST">
		<ul>
			<li>Prefix Length (Words):</li>
			<input type="number" name="n" value="2">
			<li> Output Limit (Words):</li>
			<input type="number" name="words" value="200">
			<li>Source:</li>
			<ul>
				<li><input type="radio" name="source" value="url">URL: <input type="url" name="url" /></li>
				<li><input type="radio" name="source" value="book" checked>Book: <select name="books">
					<option value="bobbym">The Blue book of bobbym quotes</option>
					<option value="aesop">Aesop's Fables</option>
					<option value="word">Buddah, The Word</option>
					<option value="alice">Alice in Wonderland</option>
					<option value="benjamin">The Autobiography of Benjamin Franklin</option>
				</select></li>
				<li><input type="radio" name="source" value="custom">Custom Text: <textarea name="message" rows="10" cols="30"></textarea> </li>
			</ul>
		</ul>
		<input class="myButton" type="submit" value="Kabooble!">
	</form>
	<a id="help" href="https://brilliant.org/discussions/thread/kaboobly-doo-generator/">What's this?</a>
</body>
<!--Chlamydomonas Labs-->
</html>